html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
}

.content {
    min-height: 100%;
}

.content-inside {
    padding-bottom: 50px;
}

.container {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

/*--------------------------------------------------------
hyperlinks
--------------------------------------------------------*/

/* unvisited link */

a:link {
    color: #633894;
}

/* visited link */

a:visited {
    color: #FD0157;
}

/*--------------------------------------------------------
text
--------------------------------------------------------*/
h1 {
    font-weight: bold;
    font-size: 3.074em;
}

h2 {
    font-size: 2.728em;
}

h3 {
    font-weight: bold;
    font-size: 2.44em;
}

h4 {
    font-size: 2.2em;
}

h5 {
    font-weight: bold;
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}


li {
    font-size: 1.77em;
    ;
}
p{
    font-size: 2em;
}
a{
    font-size: 2em;
}

/*--------------------------------------------------------
navigation
--------------------------------------------------------*/

#navBar {
    width: 100%;
    height: 13vh;
    opacity: .75;
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.pageLinks {
    display: flex;
    align-items: flex-end;
    padding-top: 7vh;
    
}

#socialLinks {
    display: flex;
    align-items: flex-end;
    padding-top: 5vh;
    padding-left: 5vw;
}
#githubLink{
    height: 40px;
    }
    #linkedInLink{
        height: 40px;
    }
.nav-link {
    font-size: large;
}

button:focus {
    outline-color: blueviolet;
}

/*--------------------------------------------------------
footer
--------------------------------------------------------*/

#footer {
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: .5;
    height: 50px;
    margin-top: -50px;
}

/*--------------------------------------------------------
home-banner
--------------------------------------------------------*/

#banner {
    background-image: url("../images/main/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 0vw;
    padding-left: 0vw;
}
#bannerName {
    padding-left: 2vw;
    padding-top: 3vh;
}

#bannerText {
    padding-right: 5vw;
    padding-left: 2vw;
    padding-top: 3vh;
    max-width: 60%;
}

#bannerSkills {
    padding-left: 10vw;
}

#bannerSkillTitle {
    text-align: center;
    padding-left: 3vw;
    padding-top: 3vh;
}
#backEnd{
    padding-left: 5vw;
}
/*--------------------------------------------------------
home-center div
--------------------------------------------------------*/
#centerRow{
    width: 100%
}
#centerSection {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#starSection {
    text-align: center;
    width: 33%;
}

#heartSection {
    text-align: center;
    width: 33%;
}

#eyeSection {
    text-align: center;
    padding-top: 2vh;
    width: 33%;
}

/*--------------------------------------------------------
home-page links div
--------------------------------------------------------*/

#portfolioLinkImage {
    padding-left: 0;
    padding-right: 0vw;
    padding-left: 0vw;
}

#portfolioLinkTextDiv {
    padding-top: 15vh;
    padding-left: 0vw;
    padding-right: 0vw;
    text-align: center;
}


#contactLinkImage {
    padding-right: 0;
    padding-left: 0vw;
    padding-right: 0vw;
}

#contactLinkTextDiv{
    padding-top: 15vh;
    text-align: center;
    padding-right: 0vw;
    padding-left: 0vw;
}

#mainButton {
    margin-top: 2vh;
}

/*--------------------------------------------------------
about-content
--------------------------------------------------------*/

#aboutContent {
    margin-top: 13vh;
    /* padding-bottom: 7vh; */
    text-align: center;
}

#aboutPhoto {
    margin-bottom: 3vh;
    height: 440px;
}

/*--------------------------------------------------------
contact-content
--------------------------------------------------------*/

#contactContent {
    margin-top: 13vh;
    padding-bottom: 7vh;
    text-align: center;
    /* margin-left: 3vw; */
    padding-top: 5vh;
}

#contactLinks {
    margin-top: 3vh;
}

#contactLinkSection {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
}

#paper {
    height: 3vh;
}

hr {
    width: 25vw;
    border-color: gray;
}

#contactMe {
    display: flex;
    flex-direction: column;
}

#contactImage {
    height: 35vh;
    border-radius: 50%;
    margin-left: 17vw
}

#contactText {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-top: 5vh;
    /* width: 25vw; */
}

/*--------------------------------------------------------
portfolio-text
--------------------------------------------------------*/

#portfolioText {
    margin-top: 5vh;
    text-align: center;
}
a{
font-size: 1em;
}
p{
    font-size: 1em;
}
/*--------------------------------------------------------
portfolio-card
--------------------------------------------------------*/

.card {
    padding: 5px;
    text-align: center;
    /* font-size: 90%; */
    color: black;
    background-color: white;
    height: 31vh;
    width: 15vw;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    margin-right: 3vw;
}

#applicationCardText {
    padding-top: .5vh;
}

.card-img-top{
    height: 180px;
}
/*--------------------------------------------------------
portfolio-applications
--------------------------------------------------------*/

#applicationsDiv {
    text-align: center;
    padding-left: 7vw;
    padding-right: 2vw;
    padding-top: 7vh;
}

#applicationCards {
    display: flex;
    flex-direction: row;
}

/*--------------------------------------------------------
portfolio-design
--------------------------------------------------------*/

#designDiv {
    text-align: center;
    padding-left: 7vw;
    padding-right: 2vw;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

/*--------------------------------------------------------
logos-content
--------------------------------------------------------*/

#logosContent {
    margin-top: 13vh;
    padding-bottom: 7vh;
    text-align: center;
}

#logosTitle {
    text-align: left;
    padding-top: 5vh;
}

.logosImage {
    height: 20vh;
    padding-top: 3vh;
}

#logosBack {
    float: right;
}

/*--------------------------------------------------------
backgrounds-content
--------------------------------------------------------*/

#backgroundsContent {
    margin-top: 13vh;
    text-align: center;
    width: 50%;
}

#whiteBackground  {
    height: 40vh;
    box-shadow: 3px 3px 5px grey;
    margin-top: 3vh;
}
#blackBackground  {
    height: 40vh;
    box-shadow: 3px 3px 5px grey;
    margin-top: 3vh;
}
#catBackground  {
    height: 40vh;
    box-shadow: 3px 3px 5px grey;
    margin-top: 3vh;
}

#backgroundsBack {
    float: right;
    padding-bottom: 7vh;
    margin-top: 2vh;
}

/*--------------------------------------------------------
fetchapi-content
--------------------------------------------------------*/

#apiContent {
    margin-top: 13vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apiImage {
    width: 50vw;
    height: 50vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
}

#apiBackButton {
    float: right;
    padding-bottom: 7vh;
    margin-right: 10vw;
}

/*--------------------------------------------------------
fetch-content
--------------------------------------------------------*/

#fetchContent {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fetchImage {
    width: 50vw;
    height: 65vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
}

#fetchBackButton {
    float: right;
    padding-bottom: 7vh;
    margin-right: 10vw;
}

/*--------------------------------------------------------
jtb-content
--------------------------------------------------------*/

#jtbContent {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25vw;
}
.jtbImage {
    width: 50vw;
    height: 65vh;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
}

#jtbBackButton {
    float: right;
    padding-bottom: 7vh;
    margin-right: 10vw;
}